force-app/main/default/flows/Account_MEX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addPromotionToCollection</name>
        <label>addPromotionToCollection</label>
        <locationX>725</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>promotionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thePromotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAccountToActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createNewPromotionForActivity</name>
        <label>createNewPromotionForActivity</label>
        <locationX>507</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>thePromotion.Promotion_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addAccountToActivity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thePromotion.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thePromotion.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMXPSARecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPromotionToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_has_Parent</name>
        <label>Check if Account has Parent</label>
        <locationX>651</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMXPSARecordTypeId</targetReference>
            </connector>
            <label>has Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasPromotionsToCreate</name>
        <label>hasPromotionsToCreate</label>
        <locationX>301</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Promotions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>promotionsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewPromotions</targetReference>
            </connector>
            <label>Create Promotions</label>
        </rules>
    </decisions>
    <description>Account Flow for Mexico</description>
    <interviewLabel>Account - MEX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - MEX</label>
    <loops>
        <name>addAccountToActivity</name>
        <label>addAccountToActivity</label>
        <locationX>502</locationX>
        <locationY>647</locationY>
        <collectionReference>getActivitiesForParent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createNewPromotionForActivity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasPromotionsToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewPromotions</name>
        <label>createNewPromotions</label>
        <locationX>315</locationX>
        <locationY>923</locationY>
        <inputReference>promotionsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getActivitiesForParent</name>
        <label>getActivitiesForParent</label>
        <locationX>345</locationX>
        <locationY>568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addAccountToActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contract Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Limit_to_Selected_Accounts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Promotion_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMXPSARecordTypeId</name>
        <label>getMXPSARecordTypeId</label>
        <locationX>450</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getActivitiesForParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_PSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promotion__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Account_has_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mexico</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MX - Outlet</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>promotionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion__c</objectType>
    </variables>
    <variables>
        <name>thePromotion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion__c</objectType>
    </variables>
</Flow>
