force-app/main/default/flows/Brazil_Update_PSA_Actuals_from_Depletions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignUpdatedValues</name>
        <label>AssignUpdatedValues</label>
        <locationX>644</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>theActualRecord.Act_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actQtyCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theActualRecord.Actual_Wholesaler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Wholesaler__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTheActualRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NumberOfActuals</name>
        <label>NumberOfActuals</label>
        <locationX>587</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>numberOfActualsForProduct</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>existingActuals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DepletionHasActuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setActualsRecord</name>
        <label>setActualsRecord</label>
        <locationX>696</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>theActualRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkIfDepletionHasActual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfDepletionHasActual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DepletionHasActuals</name>
        <label>DepletionHasActuals</label>
        <locationX>491</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>getRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasActuals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theActualRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUpdatedValues</targetReference>
            </connector>
            <label>HasActuals</label>
        </rules>
    </decisions>
    <decisions>
        <name>DepletionHasBeenConverted</name>
        <label>DepletionHasBeenConverted</label>
        <locationX>693</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>checkIfDepletionHasActual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasActualRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkIfDepletionHasActual.Depletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setActualsRecord</targetReference>
            </connector>
            <label>HasActualRecord</label>
        </rules>
    </decisions>
    <formulas>
        <name>actQtyCases</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Bottles__c} / {!thePMI.Product_Pack_Qty__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>buildExternalKey</name>
        <dataType>String</dataType>
        <expression>{!thePMI.Promotion__c} + &apos;_&apos; + {!thePMI.Id} + &apos;_Volume_&apos; + TEXT({!numberOfActualsForProduct})</expression>
    </formulas>
    <formulas>
        <name>PMIActual_ExternalKey</name>
        <dataType>String</dataType>
        <expression>{!thePMI.Promotion__c} + &apos;_&apos; + {!thePMI.Id} + &apos;_Volume_&apos;</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Brazil - Update PSA Actuals from Depletions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brazil - Update PSA Actuals from Depletions</label>
    <loops>
        <name>checkIfDepletionHasActual</name>
        <label>checkIfDepletionHasActual</label>
        <locationX>528</locationX>
        <locationY>224</locationY>
        <collectionReference>existingActuals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DepletionHasBeenConverted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NumberOfActuals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_PMI_Actual</name>
        <label>create PMI Actual</label>
        <locationX>314</locationX>
        <locationY>834</locationY>
        <inputAssignments>
            <field>Act_Qty__c</field>
            <value>
                <elementReference>actQtyCases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <elementReference>$Record.Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Wholesaler__c</field>
            <value>
                <elementReference>$Record.Wholesaler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depletion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Key__c</field>
            <value>
                <elementReference>buildExternalKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Material_Item__c</field>
            <value>
                <elementReference>thePMI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion__c</field>
            <value>
                <elementReference>thePMI.Promotion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebate_Amount__c</field>
            <value>
                <elementReference>actQtyCases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebate_Type__c</field>
            <value>
                <stringValue>Volume</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PMI_Actual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Actuals_for_Product</name>
        <label>Get Actuals for Product</label>
        <locationX>365</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfDepletionHasActual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promotion_Material_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thePMI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rebate_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volume</stringValue>
            </value>
        </filters>
        <object>PMI_Actual__c</object>
        <outputReference>existingActuals</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Depletion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_on_Activity</name>
        <label>Get Products on Activity</label>
        <locationX>176</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Actuals_for_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Custom_Product__c</elementReference>
            </value>
        </filters>
        <object>Promotion_Material_Item__c</object>
        <outputReference>thePMI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plan_Volume_Bottles__c</queriedFields>
        <queriedFields>Promotion__c</queriedFields>
        <queriedFields>Product_Pack_Qty__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>312</locationX>
        <locationY>701</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_PMI_Actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMI_Actual__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BRA_PSA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTheActualRecord</name>
        <label>UpdateTheActualRecord</label>
        <locationX>813</locationX>
        <locationY>805</locationY>
        <inputReference>theActualRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Get_Products_on_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </filters>
        <object>Depletion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>actualsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingActuals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>ExternalKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfActualsForProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>theActualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>thePMI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Material_Item__c</objectType>
    </variables>
    <variables>
        <name>thePromotion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion__c</objectType>
    </variables>
    <variables>
        <name>thePromotionMaterialItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Material_Item__c</objectType>
    </variables>
</Flow>
