force-app/main/default/flows/createInitialActualsForUKPSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addRecordToList</name>
        <label>addRecordToList</label>
        <locationX>823</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>actualsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>volumeActual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actualsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>listingFeeActual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actualsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>paActual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actualsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taActual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInitialActualsForAccrual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createListingFeeActual</name>
        <label>createListingFeeActual</label>
        <locationX>679</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>listingFeeActual.Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Promotion_Material_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMIActualRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Rebate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Listing Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Rebate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.External_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>listingFeeExternalKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Has_Totals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Actual_Wholesaler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wholesalerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rebate Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listingFeeActual.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createPromotionalActivityActual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createPromotionalActivityActual</name>
        <label>createPromotionalActivityActual</label>
        <locationX>812</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>paActual.Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Promotion_Material_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMIActualRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Rebate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Promotional Activity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Rebate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Has_Totals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.External_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>promotionalActivityExternalKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Actual_Wholesaler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wholesalerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rebate Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paActual.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTrainingAdvocacyActual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createTrainingAdvocacyActual</name>
        <label>createTrainingAdvocacyActual</label>
        <locationX>956</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>taActual.Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Promotion_Material_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMIActualRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Rebate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training &amp; Advocacy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Rebate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.External_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trainingAdvocacyExternalKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Has_Totals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Actual_Wholesaler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wholesalerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rebate Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taActual.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecordToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createVolumeActual</name>
        <label>createVolumeActual</label>
        <locationX>539</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>volumeActual.Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Promotion_Material_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaItemsLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Rebate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Volume</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Has_Totals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Act_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMIActualRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Rebate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.External_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>volumeExternalKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rebate Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volumeActual.Actual_Wholesaler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wholesalerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createListingFeeActual</targetReference>
        </connector>
    </assignments>
    <description>The actuals created, one for each rebate type, once the PSA is approved to trigger formulas required for the accrual report</description>
    <formulas>
        <name>listingFeeExternalKey</name>
        <dataType>String</dataType>
        <expression>{!psaItemsLoopItem.Promotion__c} + &apos;-&apos; + {!psaItemsLoopItem.Id} + &apos;-Listing Fee-0&apos;</expression>
    </formulas>
    <formulas>
        <name>promotionalActivityExternalKey</name>
        <dataType>String</dataType>
        <expression>{!psaItemsLoopItem.Promotion__c} + &apos;-&apos; + {!psaItemsLoopItem.Id} + &apos;-Promotional Activity-0&apos;</expression>
    </formulas>
    <formulas>
        <name>trainingAdvocacyExternalKey</name>
        <dataType>String</dataType>
        <expression>{!psaItemsLoopItem.Promotion__c} + &apos;-&apos; + {!psaItemsLoopItem.Id} + &apos;-Training &amp; Advocacy-0&apos;</expression>
    </formulas>
    <formulas>
        <name>volumeExternalKey</name>
        <dataType>String</dataType>
        <expression>{!psaItemsLoopItem.Promotion__c}+ &apos;-&apos; + {!psaItemsLoopItem.Id} + &apos;-Volume-0&apos;</expression>
    </formulas>
    <interviewLabel>createInitialActualsForPSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createInitialActualsForUKPSA</label>
    <loops>
        <name>createInitialActualsForAccrual</name>
        <label>createInitialActualsForAccrual</label>
        <locationX>419</locationX>
        <locationY>250</locationY>
        <assignNextValueToReference>psaItemsLoopItem</assignNextValueToReference>
        <collectionReference>psaItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createVolumeActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createPMIActuals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createPMIActuals</name>
        <label>createPMIActuals</label>
        <locationX>146</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Update_Has_Totals_on_PSA</targetReference>
        </connector>
        <inputReference>actualsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PSA_Items</name>
        <label>Get PSA Items</label>
        <locationX>427</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPMIActualRecordType</targetReference>
        </connector>
        <filters>
            <field>Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <object>Promotion_Material_Item__c</object>
        <outputReference>psaItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Custom__c</queriedFields>
        <queriedFields>Promotion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPMIActualRecordType</name>
        <label>getPMIActualRecordType</label>
        <locationX>575</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createInitialActualsForAccrual</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK_PSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMI_Actual__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Has_Totals_on_PSA</name>
        <label>Update Has Totals on PSA</label>
        <locationX>146</locationX>
        <locationY>421</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Actual_Totals__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Promotion_Activity__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PSA_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DEbug1</name>
        <text>&lt;p&gt;# of Items:  {!Get_PSA_Items}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actualsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>listingFeeActual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>paActual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>psaItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Material_Item__c</objectType>
    </variables>
    <variables>
        <name>psaItemsLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Material_Item__c</objectType>
    </variables>
    <variables>
        <name>taActual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>volumeActual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>wholesalerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
