force-app/main/default/flows/CreateProposalActuals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>buildPeriodIndexList</name>
        <label>buildPeriodIndexList</label>
        <locationX>80</locationX>
        <locationY>56</locationY>
        <actionName>PromotionActivity_Actuals_Helper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getActivityPromotions</targetReference>
        </connector>
        <inputParameters>
            <name>beginDate</name>
            <value>
                <elementReference>proposalStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>proposalEndDate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>periodIndexList</assignToReference>
            <name>periodIndexList</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addToActualsList</name>
        <label>addToActualsList</label>
        <locationX>931</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>listOfActualsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>actual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEveryAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createActual</name>
        <label>createActual</label>
        <locationX>753</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>actual.External_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PMIActual_ExternalKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actual.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisPeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actual.Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actual.Promotion_Material_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proposalProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actual.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proposalProduct.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actual.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proposalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToActualsList</targetReference>
        </connector>
    </assignments>
    <description>Create PMI Actuals for the approved Sales Proposal for every Product/Account/Period</description>
    <formulas>
        <name>getEndMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!proposalEndDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getEndYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!proposalEndDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getStartMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!proposalStartDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>getStartYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!proposalStartDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PMIActual_ExternalKey</name>
        <dataType>String</dataType>
        <expression>{!proposalProduct.Id} &amp; &apos;_&apos; &amp; {!proposalAccount.Id} &amp; &apos;_&apos; &amp; TEXT({!thisPeriod})</expression>
    </formulas>
    <interviewLabel>CreateProposalActuals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProposalActuals</label>
    <loops>
        <name>For_Every_Product</name>
        <label>For Every Product</label>
        <locationX>597</locationX>
        <locationY>71</locationY>
        <assignNextValueToReference>proposalProduct</assignNextValueToReference>
        <collectionReference>ProposalProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>forEveryAccount</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>forEveryAccount</name>
        <label>forEveryAccount</label>
        <locationX>842</locationX>
        <locationY>116</locationY>
        <assignNextValueToReference>proposalAccount</assignNextValueToReference>
        <collectionReference>ProposalAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Every_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forEveryPeriod</name>
        <label>forEveryPeriod</label>
        <locationX>352</locationX>
        <locationY>109</locationY>
        <assignNextValueToReference>thisPeriod</assignNextValueToReference>
        <collectionReference>periodIndexList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>For_Every_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createActualsFromList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createActualsFromList</name>
        <label>createActualsFromList</label>
        <locationX>352</locationX>
        <locationY>305</locationY>
        <inputReference>listOfActualsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getActivityProducts</name>
        <label>getActivityProducts</label>
        <locationX>83</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEveryPeriod</targetReference>
        </connector>
        <filters>
            <field>Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>proposalId</elementReference>
            </value>
        </filters>
        <object>Promotion_Material_Item__c</object>
        <outputReference>ProposalProducts</outputReference>
        <queriedFields>Product_Custom__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getActivityPromotions</name>
        <label>getActivityPromotions</label>
        <locationX>81</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getActivityProducts</targetReference>
        </connector>
        <filters>
            <field>Promotion_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>proposalId</elementReference>
            </value>
        </filters>
        <object>Promotion__c</object>
        <outputReference>ProposalAccounts</outputReference>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>buildPeriodIndexList</startElementReference>
    <status>Active</status>
    <variables>
        <name>actual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>listOfActualsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMI_Actual__c</objectType>
    </variables>
    <variables>
        <name>Log</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfPeriods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>periodIndexList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>proposalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion__c</objectType>
    </variables>
    <variables>
        <name>ProposalAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion__c</objectType>
    </variables>
    <variables>
        <name>proposalDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proposalEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proposalProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Material_Item__c</objectType>
    </variables>
    <variables>
        <name>ProposalProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Material_Item__c</objectType>
    </variables>
    <variables>
        <name>proposalStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>getStartMonth</elementReference>
        </value>
    </variables>
    <variables>
        <name>thisPeriod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
