force-app/main/default/flows/Depletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setBrazilRecordTypeId</name>
        <label>setBrazilRecordTypeId</label>
        <locationX>1029</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>rtBrazil</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThruRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setChinaRecordTypeId</name>
        <label>setChinaRecordTypeId</label>
        <locationX>912</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>rtChina</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThruRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNARUSRecordTypeId</name>
        <label>setNARUSRecordTypeId</label>
        <locationX>773</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>rtNARUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThruRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Brazil_Key</name>
        <label>Update Brazil Key</label>
        <locationX>556</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>keyBrazil</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_China_Key</name>
        <label>Update China Key</label>
        <locationX>171</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>keyChina</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_NAR_US_Key</name>
        <label>Update NAR US Key</label>
        <locationX>349</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>keyNARUS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DistributorGroup__r.State__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>897</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRecordTypeNARUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAR_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNARUSRecordTypeId</targetReference>
            </connector>
            <label>isRecordTypeNARUS</label>
        </rules>
        <rules>
            <name>isRecordTypeBrazil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBrazilRecordTypeId</targetReference>
            </connector>
            <label>isRecordTypeBrazil</label>
        </rules>
        <rules>
            <name>isRecordTypeChina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setChinaRecordTypeId</targetReference>
            </connector>
            <label>isRecordTypeChina</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>333</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNARUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rtNARUS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NAR_US_Key</targetReference>
            </connector>
            <label>isNARUS</label>
        </rules>
        <rules>
            <name>isBrazil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rtBrazil</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Brazil_Key</targetReference>
            </connector>
            <label>isBrazil</label>
        </rules>
        <rules>
            <name>isChina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rtChina</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_China_Key</targetReference>
            </connector>
            <label>isChina</label>
        </rules>
    </decisions>
    <formulas>
        <name>month</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Record.Month_Of_Date__c}),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>Depletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Depletion</label>
    <loops>
        <name>loopThruRecordTypes</name>
        <label>loopThruRecordTypes</label>
        <locationX>622</locationX>
        <locationY>213</locationY>
        <collectionReference>getRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkRecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordTypes</name>
        <label>getRecordTypes</label>
        <locationX>606</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThruRecordTypes</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Depletion__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>452</locationX>
        <locationY>722</locationY>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <elementReference>key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_Text__c</field>
            <value>
                <elementReference>month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_DG__c</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRecordTypes</targetReference>
        </connector>
        <object>Depletion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>keyBrazil</name>
        <text>{!$Record.Account__c}_{!$Record.Custom_Product__c}_{!$Record.Activity__c}_{!month}</text>
    </textTemplates>
    <textTemplates>
        <name>keyChina</name>
        <text>{!$Record.Account__c}_{!$Record.Custom_Product__c}_TEXT({!$Record.Month_Of_Date__c})</text>
    </textTemplates>
    <textTemplates>
        <name>keyNARUS</name>
        <text>{!$Record.DistributorGroup__c}_{!$Record.Brand_US__c}_{!$Record.Account__c}_{!$Record.Custom_Product__c}_TEXT({!$Record.Month_Of_Date__c})</text>
    </textTemplates>
    <variables>
        <name>key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rtBrazil</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rtChina</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rtNARUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
