force-app/main/default/flows/UK_PSA_Send_Renewal_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Renewal_Reminder</name>
        <label>Send Renewal Reminder</label>
        <locationX>464</locationX>
        <locationY>116</locationY>
        <actionName>Promotion_Activity__c.UK_PSA_Renewal_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Start_Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Next_Email_Date_Plus_3_Months</name>
        <label>Set Next Email Date Plus 3 Months</label>
        <locationX>538</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reminder_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextEmailDatePlus3Months</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Email_Date_to_End_Date</name>
        <label>Set Next Email Date to End Date</label>
        <locationX>1065</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reminder_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Email_Date_to_Plus_30_Days</name>
        <label>Set Next Email Date to Plus 30 Days</label>
        <locationX>802</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reminder_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextEmailDatePlus30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>674</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reminder_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Next_Email_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Next_Email_Date</name>
        <label>Check Next Email Date</label>
        <locationX>517</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Email_Date_Plus_3_Months</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Three_Months_Past_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextEmailDatePlus3Months</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Next_Email_Date_2</targetReference>
            </connector>
            <label>Is Three Months Past End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Next_Email_Date_2</name>
        <label>Check Next Email Date 2</label>
        <locationX>781</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Email_Date_to_Plus_30_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_One_Month_Past_Next_Email_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextEmailDatePlus30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Email_Date_to_End_Date</targetReference>
            </connector>
            <label>Is One Month Past Next Email Date</label>
        </rules>
    </decisions>
    <formulas>
        <name>nextEmailDatePlus30</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Reminder_Date__c} + 30</expression>
    </formulas>
    <formulas>
        <name>nextEmailDatePlus3Months</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Reminder_Date__c} + 90</expression>
    </formulas>
    <interviewLabel>UK - PSA - Send Renewal Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UK - PSA - Send Renewal Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Activity</name>
        <label>Update Activity</label>
        <locationX>686</locationX>
        <locationY>710</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reminder_Date__c</field>
            <value>
                <elementReference>$Record.Reminder_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Promotion_Activity__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Send_Renewal_Reminder</targetReference>
        </connector>
        <filters>
            <field>Is_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK - PSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_Renewal_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contract Complete</stringValue>
            </value>
        </filters>
        <object>Promotion_Activity__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-08-25</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
